<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>-->
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <label>Enter your phrase:
        <textarea rows="5" cols="50" name="user_phrase"></textarea>
      </label>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  <!--</body>
</html>-->